Source: g5k-checks
Section: ruby
Priority: optional
Maintainer: Grid'5000 team <support-staff@lists.grid5000.fr>
Build-Depends: debhelper (>= 8.0.0), gem2deb (>= 0.2.7~), git, bundler, libssl-dev, libreadline6-dev, zlib1g-dev, libncurses5-dev, curl, pkg-config
Standards-Version: 3.9.3
XS-Ruby-Versions: all

Package: g5k-checks
Replaces: g5kchecks
Breaks: g5kchecks
Conflicts: g5kchecks
Provides: g5kchecks
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, rake,
 ruby-nokogiri, ntp, ntpdate, nfs-common, ethtool, bridge-utils, fio, parted,
 hdparm, x86info [amd64], ipmitool, infiniband-diags, hwloc, lshw
Description: expected to be integrated into the production environment of the
 Grid'5000 computational nodes. It gathers a collection of tests which check
 that a node meets several basic requirements before it declares itself as
 available to the OAR server.
