Source: g5kchecks
Section: ruby
Priority: optional
Maintainer: Émile Morel <emile.morel@inria.fr>
Build-Depends: debhelper (>= 8.0.0), gem2deb (>= 0.2.7~)
Standards-Version: 3.9.3
XS-Ruby-Versions: all

Package: g5kchecks
Architecture: amd64
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, rake,
 ntp, ntpdate, nfs-common, ethtool, bridge-utils, fio, hwloc
Description: expected to be integrated into the production environment of the
 Grid'5000 computational nodes. It gathers a collection of tests which check
 that a node meets several basic requirements before it declares itself as
 available to the OAR server.
